<div>
    <h2>
        <span>Participants</span>
        <button class="btn btn-primary float-right jh-create-entity create-participant" routerLink="../study">
            <span class="fa fa-arrow-right"></span>
            <span >
            Go To Studies
            </span>
        </button>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right jh-create-entity create-participant" [routerLink]="['/', { outlets: { popup: ['participant-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Participant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="row">
        <div class="col-3">
            <h5>Filter Participants</h5>
            <form>
                <div class="form-group">
                    <label for="filter_occupation">Occupation</label>
                    <input class="form-control" type="text" id="filter_occupation" name="occupation" [(ngModel)]="filter.occupation">
                </div>
                <div class="form-group">
                    <label for="filter_location">Location</label>
                    <input class="form-control" type="text" id="filter_location" name="location" [(ngModel)]="filter.location">
                </div>
                <div class="form-group">
                    <label for="filter_programmingLanguage">Programming Language</label>
                    <input class="form-control" type="text" id="filter_programmingLanguage" name="programmingLanguage" [(ngModel)]="filter.programmingLanguage">
                </div>
                <div class="form-group">
                    <label for="filter_numberOfContributions">Minimum number of contributions</label>
                    <input class="form-control" type="number" id="filter_numberOfContributions" name="numberOfContributions" min=0 max={{getMaxContributions()}} [(ngModel)]="filter.numberOfContributions">
                </div>
                <div class="form-group">
                    <label for="filter_numberOfRepositories">Minimum number of repositories</label>
                    <input class="form-control" type="number" id="filter_numberOfRepositories" name="numberOfRepositories" min=0 max={{getMaxRepositories()}} [(ngModel)]="filter.numberOfRepositories">
                </div>
            </form>
            <h5>Find More Participants</h5>
            <button class="btn btn-primary float-left jh-create-entity send-github-participant-query" [routerLink]="['/', { outlets: { popup: ['github-query'] } }]">
                <span class="fa fa-arrow-right"></span>
                <span >
                    Send GitHub API Query
                </span>
            </button>

        </div>
        <div class="col-9">
            <div class="table-responsive" *ngIf="participants">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                        <th jhiSortBy="email"><span>Email</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="occupation"><span>Occupation</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="location"><span>Location</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="programmingLanguage"><span>Programming Language</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="numberOfContributions"><span>Number Of Contributions</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="numberOfRepositories"><span>Number Of Repositories</span> <span class="fa fa-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <tr *ngFor="let participant of participants | participant:filter ;trackBy: trackId">
                        <td><a [routerLink]="['../participant', participant.id ]">{{participant.email}}</a></td>
                        <td>{{participant.occupation}}</td>
                        <td>{{participant.location}}</td>
                        <td>{{participant.programmingLanguage}}</td>
                        <td>{{participant.numberOfContributions}}</td>
                        <td>{{participant.numberOfRepositories}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['../participant', participant.id ]"
                                        class="btn btn-info btn-sm">
                                    <span class="fa fa-eye"></span>
                                    <span class="hidden-md-down">View</span>
                                </button>
                                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'participant/'+ participant.id + '/edit'} }]"
                                        replaceUrl="true"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="hidden-md-down">Edit</span>
                                </button>
                                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'participant/'+ participant.id + '/delete'} }]"
                                        replaceUrl="true"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="hidden-md-down">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
