
<div *ngIf="participant">
    <h2><span>Participant</span> {{participant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Email</span></dt>
        <dd>
            <span>{{participant.email}}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{participant.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{participant.lastName}}</span>
        </dd>
        <dt><span>Occupation</span></dt>
        <dd>
            <span>{{participant.occupation}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <span>{{participant.location}}</span>
        </dd>
        <dt><span>Programming Language</span></dt>
        <dd>
            <span>{{participant.programmingLanguage}}</span>
        </dd>
        <dt><span>Number Of Contributions</span></dt>
        <dd>
            <span>{{participant.numberOfContributions}}</span>
        </dd>
        <dt><span>Number Of Repositories</span></dt>
        <dd>
            <span>{{participant.numberOfRepositories}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
            [routerLink]="['/', { outlets: { popup: 'participant/'+ participant.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
