<div class="row">
        <div *ngIf="participantAccount" class="col-md-8 offset-md-2">
            <div style="margin-bottom: 20px;">
                <h2>Studies Opted Into for: [<b>{{participantAccount.email}}</b>]</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><span>Name</span> <span class="fa"></span></th>
                            <th><span>Description</span> <span class="fa"></span></th>
                            <th><span>Incentive</span> <span class="fa"></span></th>
                            <th><span>Email Subject</span> <span class="fa"></span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let study of participantAccount.studies">
                        <td><a [routerLink]="['../study', study.id ]">{{study.name}}</a></td>
                        <td>{{study.description}}</td>
                        <td>{{study.incentive}}</td>
                        <td>{{study.emailSubject}}</td>
                        <td class="text-right">
                            <button type="submit"
                                [routerLink]="['../study', study.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="hidden-md-down">View</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'participant/'+ participantAccount.id + '/studies/' + study.id + '/optout'} }]"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="hidden-md-down">OptOut</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>