<div>
    <h2>
        <span>Studies</span>
        <button class="btn btn-primary float-right jh-create-entity create-study" [routerLink]="['/', { outlets: { popup: ['study-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Study
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="studies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="incentive"><span>Incentive</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="emailSubject"><span>Email Subject</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let study of studies ;trackBy: trackId">
                <td><a [routerLink]="['../study', study.id ]">{{study.name}}</a></td>
                <td>{{study.description}}</td>
                <td>{{study.incentive}}</td>
                <td>{{study.emailSubject}}</td>
                <td>{{study.status}}</td>
                <td class="text-right">
                  <button type="submit"
                          [routerLink]="['../study', study.id ]"
                          class="btn btn-info btn-sm">
                      <span class="fa fa-eye"></span>
                      <span class="hidden-md-down">View</span>
                  </button>
                  <button type="submit"
                          [routerLink]="['/', { outlets: { popup: 'study/'+ study.id + '/edit'} }]"
                          replaceUrl="true"
                          class="btn btn-primary btn-sm">
                      <span class="fa fa-pencil"></span>
                      <span class="hidden-md-down">Edit</span>
                  </button>
                  <button type="submit" 
                          [routerLink]="['/', { outlets: { popup: 'study/'+ study.id + '/copy'} }]" 
                          replaceUrl="true" 
                          class="btn btn-success btn-sm">
                    <span class="fa fa-copy"></span>
                    <span class="hidden-md-down">Copy</span>
                  </button>
                  <button type="submit"
                          [routerLink]="['/', { outlets: { popup: 'study/'+ study.id + '/delete'} }]"
                          replaceUrl="true"
                          class="btn btn-danger btn-sm">
                      <span class="fa fa-remove"></span>
                      <span class="hidden-md-down">Delete</span>
                  </button>
                  <button type="submit"
                  [routerLink]="['/', { outlets: { popup: 'study/'+ study.id + '/confirmSend'} }]"
                  replaceUrl="true"
                  class="btn btn-success btn-sm">
                    <span class="fa fa-paper-plane"></span>&nbsp;<span> Send Invitation</span>
                </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
