<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStudyLabel">Create or edit a Study</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!study.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="study.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="study.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description" rows="4"
                [(ngModel)]="study.description">
            </textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_incentive">Incentive</label>
            <textarea class="form-control" name="incentive" id="field_incentive" rows="4"
                [(ngModel)]="study.incentive">
            </textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hasPay">Has Pay</label>
            <input type="checkbox" class="form-control" name="hasPay" id="field_hasPay"
                [(ngModel)]="study.hasPay"  />
        </div>

        <div class="form-group">
            <label for="field_participant">Participant</label>
            <select class="form-control" id="field_participant" multiple name="participant" [(ngModel)]="study.participants">
                <option [ngValue]="getSelected(study.participants, participantOption)" *ngFor="let participantOption of participants; trackBy: trackParticipantById">{{participantOption.email}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
