
<div *ngIf="study">
    <h2><span>Study</span> {{study.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{study.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{study.description}}</span>
        </dd>
        <dt><span>Incentive</span></dt>
        <dd>
            <span>{{study.incentive}}</span>
        </dd>
        <dt><span>Has Pay</span></dt>
        <dd>
            <span>{{study.hasPay}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <div *ngIf="study.email">
                <a [routerLink]="['/email', study.email?.id]">{{study.email?.id}}</a>
            </div>
        </dd>
        <dt><span>Participant</span></dt>
        <dd>
            <span *ngFor="let participant of study.participants; let last = last">
                <a [routerLink]="['/participant', participant?.id ]">{{participant.emailAddress}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Researcher</span></dt>
        <dd>
            <div *ngIf="study.researcher">
                <a [routerLink]="['/researcher', study.researcher?.id]">{{study.researcher?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'study/'+ study.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
