<div>
    <h2>
        <span>Studies</span>
        <button class="btn btn-primary float-right create-study" [routerLink]="['/', { outlets: { popup: ['study-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Study
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="studies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
            <th><span>Incentive</span></th>
            <th><span>Has Pay</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let study of studies ;trackBy: trackId">
                <th scope="row"><a [routerLink]="['../study', study.id ]">{{study.name}}</a></th>
                <td>{{study.description}}</td>
                <td>{{study.incentive}}</td>
                <td>{{study.hasPay}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../study', study.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'study/'+ study.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'study/'+ study.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
