
<div *ngIf="study">
    <h2>{{study.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{study.description}}</span>
        </dd>
        <dt><span>Incentive</span></dt>
        <dd>
            <span>{{study.incentive}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{study.emailSubject}}</span>
        </dd>
        <dd>
            <span>{{study.emailBody}}</span>
        </dd>
        <dt><span>Participants</span></dt>
        <dd>
            <span *ngFor="let participant of study.participants; let last = last">
                <a [routerLink]="['/participant', participant?.id ]">{{participant.email}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'study/'+ study.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'study/'+ study.id + '/confirmSend'} }]"
            replaceUrl="true"
            class="btn btn-success">
        <span class="fa fa-paper-plane"></span>&nbsp;<span> Send Invitation</span>
    </button>
</div>
