
<div *ngIf="researcher">
    <h2><span>Researcher</span> {{researcher.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Email</span></dt>
        <dd>
            <span>{{researcher.email}}</span>
        </dd>
        <dt><span>Occupation</span></dt>
        <dd>
            <span>{{researcher.occupation}}</span>
        </dd>
        <dt><span>Institute</span></dt>
        <dd>
            <span>{{researcher.institute}}</span>
        </dd>
        <dt><span>Study</span></dt>
        <dd>
            <div *ngIf="researcher.study">
                <a [routerLink]="['/study', researcher.study?.id]">{{researcher.study?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'researcher/'+ researcher.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
