html, body{
    height: 100%;
}

.content{
    min-height: 100%;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    top: 30%;
    left: 30%;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    position: relative;
    top: 30%;
    left: 30%;
}

input[type='checkbox'], input[type='number'] {
    position: relative;
    top: 30%;
    left: 30%;
}
/* Extra style for the cancel button (red) */
.signupbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

label{
    position: relative;
    top: 30%;
    left: 30%;
}

.textBox{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    top: 30%;
    left: 30%;
}
.titleText{
    text-align: center;
}
/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
    height: auto;
}


/* Add padding to containers */
.container {
    padding: 16px;
}

.buttonContainer{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    height:100px;
}

.dropdown{
    position: relative;
    top: 30%;
    left: 30%;
    width: 15%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .signupbtn {
        width: 40%;
    }
}