<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <button class="btn btn-primary float-right jh-create-entity create-participant" routerLink="../study">
            <span class="fa fa-arrow-right"></span>
            <span >
            Go To Studies
            </span>
        </button>
        <h1 class="display-4">QualOpt</h1>
        <p class="lead"></p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default account:<br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>

        <p>
            <!-- TODO: About QualOpt here -->
        </p>

        <div class="row">
            <div class="col-6">
                <h2>For Researchers</h2>
                <p>
                    <!-- TODO: Researcher info here -->
                </p>
            </div>
            <div class="col-6">
                <h2>For Study Participants</h2>
                <p>
                    <!-- TODO: Participant info here -->
                </p>
            </div>
        </div>
    </div>
</div>
