<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <button class="btn btn-primary float-right jh-create-entity create-participant" routerLink="../study">
            <span class="fa fa-arrow-right"></span>
            <span >
            Go To Studies
            </span>
        </button>
        <h1 class="display-4">QualOpt</h1>
        <p class="lead"></p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default account:<br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>

        <p>
            QualOpt is a platform for researchers to manage the survey invitations for their studies, and find participants to send them to via GitHub.
            It also provides the ability for GitHub users to opt out of receiving survey invitations.
            The goal of this is to address the issue of GitHub users receiving too many unsolicited survey invitations
            <!-- TODO: About QualOpt here -->
        </p>

        <div class="row">
            <div class="col-6">
                <h2>For Researchers</h2>
                <p>
                    Researchers can use this application to send out survey invitations in moderation.
                    You can create a study on the application, with details of your survey and draft the email to be sent to your participants.
                    Additionally, you can filter the participants who will receive the survey invitations using information from GitHub
                    <!-- TODO: Researcher info here -->
                </p>
            </div>
            <div class="col-6">
                <h2>For Study Participants</h2>
                <p>
                    Participants may choose to opt out of receiving survey invitations
                    <!-- TODO: Participant info here -->
                </p>
            </div>
        </div>
    </div>
</div>
