
<div class="title-background">
    <h1 class="title-text">QualOpt</h1>
    <p class="subtitle-text"> Quality Over Quantity. </p>
</div>

<div>
    <h3 class="quote-text">"People That Aren't Used To Quality Always Chase Quantity."</h3>
    <h3 class="sub-quote-text"> BUT WE AIN'T ABOUT THAT LIFE! </h3>
</div>

<div class="hr-line"></div>

<div class="body-background" [ngSwitch]="isAuthenticated()">

    <div class="user-section column left">
        <span class="main-info">
            <h1> Your fastest </br> way of gathering </br> research data </h1>
            <p > Acquire important research data while </br> making users experience pleasant.</p>                       
        </span>

        <div *ngSwitchCase="true">
            <span class="welcome-user-text" *ngIf="account"
            > Welcome {{account.login}} </span>
        </div>
        
        <div *ngSwitchCase="false">
            <button class="button login" (click)="login()">LOG IN</button>
            <button class="button register"  routerLink="register">SIGN UP</button>               
        </div>
    </div>

    <div class="column middle">
        <span class="circle create"><p> CREATE</p></span>
        <div class="circle contribute"><p> CONTRIBUTE </p> </div>
        <div class="circle develop"><p> DEVELOP </p></div>
        <div class="circle learn"><p> LEARN </p></div>
    </div>
</div>
